.headline{
  background-color: #3E4C62;
  color: white;
  text-align: center;
  height: 180px;
  border-radius: 25px;
}

.round{
  width: 9%; height:auto;
  float:left;
  border-radius: 50%;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 8px;
}

.nameposition{
  padding: 6px;
  font-family: 'Montserrat', sans-serif;
}

#skillhead{
  font-size: 40px;
  padding-top: 30px;
}

.personal{
  font-family: 'Montserrat', sans-serif;
  color: grey;
  text-align: center;
  border-radius: 25px;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.personal h2{
  font-size: 35px;
}

.personal p{
  font-size: 22px;
  line-height: 1.5;
}

.right{
  font-family: 'Montserrat', sans-serif;
  color: grey;
  float:right;
  width: 60%;
  background-color: #E6E9EC;
  border-radius: 25px;
  line-height: 1.6;
}

.right h2{
  text-align: center;
}

.right h3{
  text-align: center;
  font-size: 20px;
}

.right h4{
  text-align: center;
}

.right div{
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 25px;
  margin: 6px;
}

.left{
  font-family: 'Montserrat', sans-serif;
  color: white;
  float: left;
  width: 39.5%;
  border-radius: 25px;
  background-color: #3E4C62;
}

.left h2{
  text-align: center;
  font-size: 25px;
}

.left p{
  text-align: center;
  font-size: 20px;
}

.left li{
  font-size: 20px;
}

#hobbies{
  padding-left: 100px;
  line-height: 1.5;
}

.paddiv{
  padding-left: 80px;
  padding-right: 80px;
}

i{
  font-size: 20px;
}


.buttons{
  background-color:#3E4C62;
  border: none;
  font-size: 20px;
  font-weight:bold;
  color: white;
  border-radius: 25px;
}

.buttons:hover{
  background-color:  #E6E9EC;
  color: #3E4C62;
}

#navigation{
  padding-left: 10px;
  padding-bottom: : 6px;
  overflow: hidden;
  float:left;
}

.upper{
  background-color: #E6E9EC;
  text-align: center;
  border-radius: 25px;
}
